<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__log"><a href="/">Dianol</a></div>
            <div class="face__box">
                <h1 class="face__title">Органическое средство для <span>контроля и</span> <mark>профилактики</mark> <b>диабета</b></h1>
                <div class="face__list">
                    <div class="face__item">
                        <img src="../media/face/icon-1.png" alt="">
                        <p><b>Способствуют</b> нормализации уровня глюкозы и усвоению инсулина</p>
                    </div>
                    <div class="face__item">
                        <img src="../media/face/icon-2.png" alt="">
                        <p><b>Оздоравливает</b> организм и очищает кровь</p>
                    </div>
                    <div class="face__item">
                        <img src="../media/face/icon-3.png" alt="">
                        <p><b>Поддерживает</b> работу эндокринной системы</p>
                    </div>
                    <div class="face__item">
                        <img src="../media/face/icon-4.png" alt="">
                        <p><b>Стимулирует</b> обмен веществ</p>
                    </div>
                </div>
            </div>
            <div class="face__box">
                <div class="face__product"><img src="../media/product.png" alt=""></div>
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>