<section class="section section_screen4">
    <div class="container">
        <div class="screen4">
            <div class="screen4__product"><img src="../media/product.png" alt=""></div>
            <div class="screen4__title"><b>Dianol поможет</b> <mark>победить болезнь</mark> без осложнений</div>
            <p>Dianol – органический препарат, разработанный для людей с диабетом и преддиабетом. При создании средства были использованы методики и результаты многолетних исследований лечения сахарного диабета в общей мировой практике.</p>
            <p><small>При терапии новым препаратом организм получает необходимые для контроля заболевания вещества, доставляя их непосредственно в кровь. Основное действие направлено на стабилизацию уровня сахара в крови и активную работу с иммунитетом. Помимо этого, Dianol способствует восстановлению функций поджелудочной железы и эндокринной системы, оздоравливая весь организм.</small></p>
        </div>
    </div>
</section>