<section class="section section_screen5">
    <div class="container">
        <div class="screen5">
            <div class="screen5__title">Сбалансированная формула <mark>против сахарного диабета</mark></div>
            <div class="screen5__product"><img src="../media/product.png" alt=""></div>
            <div class="screen5__body">
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-1.png" alt="">
                        <p>Calcio carbonato</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-2.png" alt="">
                        <p>Fenogreco</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-3.png" alt="">
                        <p>Maqui</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-4.png" alt="">
                        <p>Linaza</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-5.png" alt="">
                        <p>Aloe vera</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-6.png" alt="">
                        <p>Витамин В1</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-7.png" alt="">
                        <p>Arándano</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-8.png" alt="">
                        <p>Cromo</p>
                    </div>
                </div>
            </div>
            <div class="screen5__info">
                <img src="../media/screen5/cursor.png" alt="">
                <p>Наведите на ингредиент, чтобы узнать о нем больше</p>
            </div>
        </div>
    </div>
</section>