<section class="section section_screen7">
    <div class="container">
        <div class="screen7">
            <div class="screen7__product"><img src="../media/product.png" alt=""></div>
            <div class="screen7__title">6 преимуществ Dianol <span>для вашего здоровья</span></div>
            <div class="screen7__body">
                <div class="screen7__box">
                    <div class="screen7__item"><p><b>Помогает</b> контролировать усвоение инсулина</p></div>
                    <div class="screen7__item"><p><span><b>Стабилизирует</b></span> уровень сахара</p></div>
                    <div class="screen7__item"><p><b>Налаживает работу</b> эндокринной системы</p></div>
                </div>
                <div class="screen7__box">
                    <div class="screen7__item"><p><b>Снижает риск</b> сердечнососудистых заболеваний и почечной недостаточности</p></div>
                    <div class="screen7__item"><p><b>Регулирует обмен веществ</b> и всасывание углеводов и липидов, которые поддерживают метаболизм глюкозы</p></div>
                </div>
            </div>
        </div>
    </div>
</section>