<section class="section section_screen6">
    <div class="container">
        <div class="screen6">
            <div class="screen6__product">
                <img src="../media/screen6/human.png" alt="">
            </div>
            <div class="screen6__title">Эксперты о Dianol: <mark>«Комплексная поддержка для инсулинорези<span>-</span><br>стентных»</mark></div>
            <div class="screen6__body">
                <p>В настоящее время проблема сахарного диабета стала очень значимой, так как возраст больных значительно снизился. Сегодня все чаще диагноз ставят тридцатилетним людям. Это связано не только с наследственностью, но и неправильным питанием, хроническими болезнями и стрессами. Эти факторы увеличивают риски в 12–15 раз. Чтобы защитить себя, необходима специализированная профилактика.</p>
                <p>Лучше всего с этой задачей справляется Dianol. При регулярном применении препарат сводит к минимуму риск развития сахарного диабета и последствий заболеваний. При подтвержденном диагнозе Dianol также помогает контролировать уровень глюкозы и метаболические процессы, снижая негативные последствия от сильнодействующих препаратов. Грамотная терапия позволяет иммунным клеткам поддерживать работу эндокринных желез и поджелудочной. Я рекомендую Dianol всем своим пациентам, независимо от возраста и поставленного диагноза.</p>
            </div>
            <div class="screen6__footer">
                <div class="screen6__name">Nicolas Macuer, <span>врач-эндокринолог, опыт работы 15 лет</span></div>
                <div class="screen6__id"><img src="../media/screen6/id.png" alt=""></div>
            </div>
        </div>
    </div>
</section>