<section class="section section_screen5">
    <div class="container">
        <div class="screen5">
            <div class="screen5__title">Сбалансированная формула <mark>против сахарного диабета</mark></div>
            <div class="screen5__product"><img src="../media/product.png" alt=""></div>
            <div class="screen5__body">
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-1.png" alt="">
                        <p>Calcio carbonato</p>
                    </div>
                    <div class="screen5__info">
                        <div class="screen5__close"></div>
                        <p>Calcio carbonato. Регулирует обмен кальция в костях, восполняет недостаток кальция в организме, укрепляя кости, зубы, ногти, так как при дефиците инсулина страдает процесс минерализации и образования костной ткани.</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-2.png" alt="">
                        <p>Fenogreco</p>
                    </div>
                    <div class="screen5__info">
                        <div class="screen5__close"></div>
                        <p>Fenogreco. Укрепляет иммунную и кровеносную системы, стимулирует секрецию инсулина, улучшает эластичность сосудов, восстанавливает работу поджелудочной железы и пищеварительной системы, способствует уменьшению в печени жирового гепатоза.
                        </p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-3.png" alt="">
                        <p>Maqui</p>
                    </div>
                    <div class="screen5__info">
                        <div class="screen5__close"></div>
                        <p>Maqui. Сублимированный порошок ягод Маки останавливает разрушительные процессы в тканях, запускает усиленную регенерацию. Стимулирует работу желчного пузыря, обладает желчегонным эффектом, поддерживает работу печени. Сокращает расход витаминов группы В, положительно воздействует на микрофлору кишечника.
                        </p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-4.png" alt="">
                        <p>Linaza</p>
                    </div>
                    <div class="screen5__info">
                        <div class="screen5__close"></div>
                        <p>Linaza. Устраняет отечность и застойные процессы. Обеспечивает нормальный ток крови и лимфы. Способствует снижению содержания липидов и глюкозы в крови.</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-5.png" alt="">
                        <p>Aloe vera</p>
                    </div>
                    <div class="screen5__info">
                        <div class="screen5__close"></div>
                        <p>Aloe vera. Содержит глюкоманнан, растворимой диетической клетчатки, которая снижает уровень сахара в крови естественным путем, снимает воспалительные процессы, стимулирует выведение токсинов и шлаков, накопленных в организме, способствует быстрому заживлению поврежденных тканей.</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-6.png" alt="">
                        <p>Витамин В1</p>
                    </div>
                    <div class="screen5__info">
                        <div class="screen5__close"></div>
                        <p>Витамин В1. Нормализует обменные процессы. Снижает риск развития катаракты, нормализует работу сердечно-сосудистой системы, препятствует образованию тромбов, предотвращает заболевания дыхательной системы.
                        </p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-7.png" alt="">
                        <p>Arándano</p>
                    </div>
                    <div class="screen5__info">
                        <div class="screen5__close"></div>
                        <p>Arándano. Предотвращает развитие осложнений при сахарном диабете. Нормализует пищеварение и работу мочеполовой системы. Также препятствует снижению зрения.</p>
                    </div>
                </div>
                <div class="screen5__item">
                    <div class="screen5__ingredients">
                        <img src="../media/screen5/img-8.png" alt="">
                        <p>Cromo</p>
                    </div>
                    <div class="screen5__info">
                        <div class="screen5__close"></div>
                        <p>Cromo. Усиливает действие вырабатываемого организмом инсулина и улучшает его усвоение. Препятствует развитию периферической нейропатии. Помогает регулировать вес, налаживая углеводный баланс и обмен веществ.</p>
                    </div>
                </div>
            </div>
            <div class="screen5__footer">
                <img src="../media/screen5/cursor.png" alt="">
                <p>Наведите на ингредиент, чтобы узнать о нем больше</p>
            </div>
        </div>
    </div>
</section>