<section class="section section_screen8">
    <div class="container">
        <div class="screen8">
            <div class="screen8__title">Как сделать заказ</div>
            <div class="screen8__body">
                <div class="screen8__item">
                    <div class="screen8__media">
                        <img src="../media/screen8/img-1.jpg" alt="">
                    </div>
                    <div class="screen8__info">Заполните форму заказа, укажите контактные данные для связи</div>
                </div>
                <div class="screen8__item">
                    <div class="screen8__media">
                        <img src="../media/screen8/img-2.jpg" alt="">
                    </div>
                    <div class="screen8__info">Дождитесь звонка оператора для согласования всех деталей</div>
                </div>
                <div class="screen8__item">
                    <div class="screen8__media">
                        <img src="../media/screen8/img-3.jpg" alt="">
                    </div>
                    <div class="screen8__info">Товар можно оплатить онлайн или курьерской службе при получении</div>
                </div>
            </div>
        </div>
    </div>
</section>