<section class="section section_screen2">
    <div class="container">
        <div class="screen2">
            <div class="screen2__title">Несладкая жизнь: <span>диабет диагностируется</span> <mark>у каждого 11 человека в мире</mark></div>
            <div class="screen2__description">
                <p><span>Сахарный диабет – заболевание, которое характеризуется не только высоким уровнем сахара, но и комплексными нарушениями в организме. Поджелудочная железа перестает выполнять эндокринную функцию, снижая выработку гормона инсулина.</span></p>
                <p>Из-за этого нарушается обмен веществ и происходят скачки уровня сахара в крови после приема пищи, что постепенно снижает чувствительность к инсулину. В итоге организм перестает усваивать глюкозу. Это приводит к ее росту и системным нарушениям функция внутренних органов.</p>
            </div>
        </div>
    </div>
</section>