<section class="section section_screen3">
    <div class="container">
        <div class="screen3">
            <div class="screen3__title">Вы в зоне повышенного риска, <mark>если у вас есть хотя бы один симптом:</mark></div>
            <div class="screen3__body">
                <div class="screen3__col">
                    <div class="screen3__item">Стремительный набор или снижение веса</div>
                </div>
                <div class="screen3__col">
                    <div class="screen3__item">Потеря энергии, усталость и раздражительность</div>
                </div>
                <div class="screen3__col">
                    <div class="screen3__item">Жажда и частые мочеиспускания</div>
                </div>
                <div class="screen3__col">
                    <div class="screen3__item">Снижение остроты зрения</div>
                </div>
                <div class="screen3__col">
                    <div class="screen3__item">Повышенное артериальное давление</div>
                </div>
                <div class="screen3__col">
                    <div class="screen3__item">Стоматологические заболевания</div>
                </div>
                <div class="screen3__col">
                    <div class="screen3__item">Сонливость или бессонница</div>
                </div>
                <div class="screen3__col">
                    <div class="screen3__item">Сухость кожи, зуд и плохо заживающие раны</div>
                </div>
            </div>
            <div class="screen3__footer"><mark>Неспособность регулировать уровень сахара в крови может привести к разрушающим последствиям:</mark> инфаркту, инсульту, почечной недостаточности, тромбозу, потери зрения и ампутации конечностей. Также повышенный сахар приводит к осложнениям при беременности и родах.</div>
        </div>
    </div>
</section>